---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "edc-controlplane.fullname" . }}
  namespace: {{ .Release.Namespace | default "default" | quote }}
  labels:
    {{- include "edc-controlplane.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.edc.endpoints.default.port }}
      targetPort: default
      protocol: TCP
      name: default
    - port: {{ .Values.edc.endpoints.control.port }}
      targetPort: control
      protocol: TCP
      name: control
    - port: {{ .Values.edc.endpoints.management.port }}
      targetPort: management
      protocol: TCP
      name: management
    - port: {{ .Values.edc.endpoints.validation.port }}
      targetPort: validation
      protocol: TCP
      name: validation
    - port: {{ .Values.edc.endpoints.protocol.port }}
      targetPort: protocol
      protocol: TCP
      name: protocol
    - port: {{ .Values.edc.endpoints.metrics.port }}
      targetPort: metrics
      protocol: TCP
      name: metrics
    - port: {{ .Values.edc.endpoints.observability.port }}
      targetPort: observability
      protocol: TCP
      name: observability
  selector:
    {{- include "edc-controlplane.selectorLabels" . | nindent 4 }}