<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%style{%d{ISO8601}}{black} %highlight{%-5level }[%style{%t}{bright,blue}] %style{%C{1.}}{bright,yellow}: %encode{%msg}%n%throwable"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>

        <Logger name="org.eclipse.tractusx.irs" level="info"/>
        <Logger name="org.eclipse.tractusx.edc" level="debug"/>
        <Logger name="org.eclipse.tractusx.ess" level="info"/>
        <Logger name="org.springframework.boot.actuate.endpoint.jmx" level="warn"/>
        <Logger name="org.springframework.web" level="info"/>
        <Logger name="org.springframework.web.client.RestTemplate" level="debug"/>
        <Logger name="org.springframework.security.authentication" level="info" />
        <Logger name="org.springframework.security.oauth2" level="info" />
        <Logger name="org.apache.catalina.startup.DigesterFactory" level="error" />
        <Logger name="org.apache.catalina.util.LifecycleBase" level="error" />
        <Logger name="org.apache.coyote.http11.Http11NioProtocol" level="warn" />
        <Logger name="org.apache.sshd.common.util.SecurityUtils" level="warn"/>
        <Logger name="org.apache.tomcat.util.net.NioSelectorPool" level="warn" />
    </Loggers>

</Configuration>