irs-helm:
  #####################
  # IRS Configuration #
  #####################
  irsUrl: "https://irs.dev.demo.catena-x.net"
  bpn: <path:traceability-irs/data/dev/irs#bpn>
  apiKeyAdmin: <path:traceability-irs/data/dev/irs#apiKeyAdmin>
  apiKeyRegular: <path:traceability-irs/data/dev/irs#apiKeyRegular>
  ingress:
    enabled: true
    className: "nginx"
    annotations:
      nginx.ingress.kubernetes.io/ssl-passthrough: "false"
      nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
      nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    hosts:
      - host: "irs.dev.demo.catena-x.net"
        paths:
          - path: /
            pathType: ImplementationSpecific
    tls:
      - hosts:
          - "irs.dev.demo.catena-x.net"
        secretName: tls-secret
  management:
    health:
      dependencies:
        enabled: "false"
        urls:
          bpdmService: https://partners-pool.int.demo.catena-x.net/ui/swagger-ui/index.html
          dtrService: http://cx-irs-registry-registry-svc:4243/actuator/health/liveness
          consumerControlPlane: http://irs-dev-tractusx-connector-controlplane:8080/api/check/liveness
          controlPlane: http://irs-provider-tractusx-connector-controlplane:8080/api/check/liveness
          controlPlane2: http://irs-provider2-tractusx-connector-controlplane:8080/api/check/liveness
          controlPlane3: http://irs-provider3-tractusx-connector-controlplane:8080/api/check/liveness
  digitalTwinRegistry:
    url: https://irs-aas-registry.dev.demo.catena-x.net/semantics/registry/api/v3
    shellDescriptorTemplate: /shell-descriptors/{aasIdentifier}
    lookupShellsTemplate: /lookup/shells?assetIds={assetIds}
  discovery:
    discoveryFinderUrl: https://discovery-mock.dev.demo.catena-x.net/api/administration/connectors/discovery/search

  semanticshub:
    url: https://semantics.int.demo.catena-x.net/hub/api/v1/models
  bpdm:
    url: https://partners-pool.int.demo.catena-x.net
  minioUser: <path:traceability-irs/data/dev/minio#minioUser>
  minioPassword: <path:traceability-irs/data/dev/minio#minioPassword>
  oauth2:
    clientTokenUri: <path:traceability-irs/data/dev/oauth2#tokenUri>
    semantics:
      clientId: <path:traceability-irs/data/oauth2/semantics#clientId>
      clientSecret: <path:traceability-irs/data/oauth2/semantics#clientSecret>
    discovery:
      clientId: <path:traceability-irs/data/oauth2/discovery#clientId>
      clientSecret: <path:traceability-irs/data/oauth2/discovery#clientSecret>
    bpdm:
      clientId: <path:traceability-irs/data/oauth2/bpdm#clientId>
      clientSecret: <path:traceability-irs/data/oauth2/bpdm#clientSecret>
  edc:
    submodel:
      request:
        ttl: PT2M
    controlplane:
      request:
        ttl: PT2M
      apikey:
        secret: <path:traceability-irs/data/dev/controlplane#apiKey>

  resources:
    limits:
      cpu: 1.5
      memory: 1.5Gi
    requests:
      cpu: 100m
      memory: 1.5Gi


  #######################
  # Minio Configuration #
  #######################
  minio:
    rootUser: <path:traceability-irs/data/dev/minio#minioUser>
    rootPassword: <path:traceability-irs/data/dev/minio#minioPassword>
    serviceAccount:
      name: "irs-dev-minio-sa"

  #########################
  # Grafana Configuration #
  #########################
  grafana:
    resources:
      requests:
        cpu: 50m
        memory: 256Mi
      limits:
        cpu: 200m
        memory: 256Mi
    enabled: true
    ingress:
      enabled: true
      hosts:
        - "irs-grafana.dev.demo.catena-x.net"
      tls:
        - hosts:
            - "irs-grafana.dev.demo.catena-x.net"
          secretName: tls-secret

    user: <path:traceability-irs/data/dev/grafana#username>
    password: <path:traceability-irs/data/dev/grafana#password>

  ############################
  # Prometheus Configuration #
  ############################
  prometheus:
    enabled: true
    extraScrapeConfigs: |
      - job_name: 'spring-actuator'
        metrics_path: '/actuator/prometheus'
        scrape_interval: 60s
        static_configs:
          - targets: [ '{{ .Release.Name }}-irs-helm:4004' ]

      - job_name: 'minio-actuator'
        metrics_path: /minio/v2/metrics/cluster
        static_configs:
          - targets: [ '{{ .Release.Name }}-minio:9000' ]


tractusx-connector:
  install:
    postgresql: false
    vault: false
  participant:
    id: <path:traceability-irs/data/dev/controlplane#participantId>

  iatp:
    id: <path:traceability-irs/data/dev/controlplane#DID>
    # -- Configures the trusted issuers for this runtime
    # ATTENTION: NOT YET WORKING FOR 0.7.0 chart
    trustedIssuers:
      - <path:traceability-irs/data/dev/controlplane#trustedIssuer>
    sts:
      dim:
        url: <path:traceability-irs/data/dev/controlplane#dimUrl>
      oauth:
        token_url: <path:traceability-irs/data/dev/controlplane#iatp.oauth.tokenurl>
        client:
          id: <path:traceability-irs/data/dev/controlplane#dimClientId>
          secret_alias: dim-secret-dev

  controlplane:
    ingresses:
      - enabled: true
        hostname: "irs-consumer-controlplane.dev.demo.catena-x.net"
        annotations:
          nginx.ingress.kubernetes.io/ssl-passthrough: "false"
          nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
          nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
        endpoints:
          - protocol
          - management
        tls:
          enabled: true
          secretName: tls-secret

    bdrs:
      # time that a cached BPN/DID resolution map is valid in seconds, default is 10 min
      cache_validity_seconds: 600
      server:
        # URL of the BPN/DID Resolution Service - required:
        url: <path:traceability-irs/data/dev/controlplane#bdrsUrl>

    env:
      # workaround till 0.7.1 chart
      EDC_IAM_TRUSTED-ISSUER_ISSUER1_ID: <path:traceability-irs/data/dev/controlplane#trustedIssuer>

    endpoints:
      management:
        authKey: <path:traceability-irs/data/dev/controlplane#apiKey>  # -- authentication key, must be attached to each 'X-Api-Key' request header

    resources:
      limits:
        cpu: 1.5
        memory: 3Gi
      requests:
        cpu: 100m
        memory: 3Gi

  dataplane:
    ingresses:
      - enabled: true
        hostname: "irs-consumer-dataplane.dev.demo.catena-x.net"
        annotations:
          nginx.ingress.kubernetes.io/ssl-passthrough: "false"
          nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
          nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
        endpoints:
          - public
        className: "nginx"
        tls:
          enabled: true
          secretName: tls-secret

    token:
      signer:
        # alias under which the private key is stored in the vault (JWK or PEM format)
        privatekey_alias: irs-dev-daps-cert-consumer-key
      verifier:
        # alias under which the public key is stored in the vault, that belongs to the private key ("privatekey_alias", JWK or PEM format)
        publickey_alias: irs-dev-daps-cert-consumer

    resources:
      limits:
        cpu: 500m
        memory: 512Mi
      requests:
        cpu: 100m
        memory: 512Mi

  ################################
  # EDC Vault/DAPS Configuration #
  ################################
  vault:
    hashicorp:
      url: "https://vault.demo.catena-x.net"
      token: "<path:traceability-irs/data/dev/controlplane#vaultToken>"
      timeout: 30
      healthCheck:
        enabled: true
        standbyOk: true
      paths:
        secret: /v1/traceability-irs
        health: /v1/sys/health
    secretNames:
      transferProxyTokenSignerPrivateKey: irs-dev-daps-cert-consumer-key
      transferProxyTokenSignerPublicKey: irs-dev-daps-cert-consumer
      transferProxyTokenEncryptionAesKey: test-edc-encryption-key

  ##################################
  # EDC Postgres Configuration #
  ##################################
  postgresql:
    enabled: true
    auth:
      username: "<path:traceability-irs/data/dev/controlplane#databaseuser>"
      password: "<path:traceability-irs/data/dev/controlplane#databasepassword>"
    username: "<path:traceability-irs/data/dev/controlplane#databaseuser>"
    password: "<path:traceability-irs/data/dev/controlplane#databasepassword>"
    jdbcUrl: "jdbc:postgresql://irs-dev-edc-postgresql-hl:5432/edc"

##############################
# EDC Postgres Configuration #
##############################
# EDC chart do not support multiple postgres instances in the same namespace at the moment.
# Enable this to use the postgres dependency for when you want to deploy multiple EDC instances in one namespace
postgresql:
  enabled: true
edc-postgresql:
  auth:
    database: edc
    username: <path:traceability-irs/data/dev/controlplane#databaseuser>
    postgresPassword: <path:traceability-irs/data/dev/controlplane#databasepassword>
    password: <path:traceability-irs/data/dev/controlplane#databasepassword>
