irs-helm:
  #####################
  # IRS Configuration #
  #####################
  irsUrl: "https://irs.int.demo.catena-x.net"
  bpn: BPNL00000001CRHK
  ingress:
    enabled: true
    className: "nginx"
    annotations:
      nginx.ingress.kubernetes.io/ssl-passthrough: "false"
      nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
      nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    hosts:
      - host: "irs.int.demo.catena-x.net"
        paths:
          - path: /
            pathType: ImplementationSpecific
    tls:
      - hosts:
          - "irs.int.demo.catena-x.net"
        secretName: tls-secret
  digitalTwinRegistry:
    url: https://semantics.int.demo.catena-x.net/registry
    discoveryFinderUrl: https://semantics.int.demo.catena-x.net/discoveryfinder/api/v1.0/administration/connectors/discovery/search
    shellDescriptorTemplate: /shell-descriptors/{aasIdentifier}
    lookupShellsTemplate: /lookup/shells?assetIds={assetIds}
  semanticshub:
    url: https://semantics.int.demo.catena-x.net/hub/api/v1/models
    pageSize: "200"
  bpdm:
    url: https://partners-pool.int.demo.catena-x.net
  minioUser: <path:traceability-irs/data/int/minio#minioUser>
  minioPassword: <path:traceability-irs/data/int/minio#minioPassword>
  oauth2:
    clientId: <path:traceability-irs/data/int/oauth2#clientId>
    clientSecret: <path:traceability-irs/data/int/oauth2#clientSecret>
    clientTokenUri: <path:traceability-irs/data/int/oauth2#tokenUri>
    jwkSetUri: <path:traceability-irs/data/int/oauth2#jwkSetUri>
  portal:
    oauth2:
      clientId: <path:traceability-irs/data/int/keycloak/dataspacediscovery#clientId>
      clientSecret: <path:traceability-irs/data/int/keycloak/dataspacediscovery#clientSecret>
  edc:
    controlplane:
      apikey:
        secret: <path:traceability-irs/data/int/controlplane#apiKey>

  resources:
    limits:
      cpu: 1.5
      memory: 1.5Gi
    requests:
      cpu: 200m
      memory: 1.5Gi


  #######################
  # Minio Configuration #
  #######################
  minio:
    rootUser: <path:traceability-irs/data/int/minio#minioUser>
    rootPassword: <path:traceability-irs/data/int/minio#minioPassword>
    serviceAccount:
      name: "irs-int-minio-sa"

  #########################
  # Grafana Configuration #
  #########################
  grafana:
    resources:
      requests:
        cpu: 50m
        memory: 256Mi
      limits:
        cpu: 400m
        memory: 256Mi
    enabled: true
    ingress:
      enabled: true
      hosts:
        - "irs-grafana.int.demo.catena-x.net"
      tls:
        - hosts:
            - "irs-grafana.int.demo.catena-x.net"
          secretName: tls-secret

    user: <path:traceability-irs/data/int/grafana#username>
    password: <path:traceability-irs/data/int/grafana#password>

  ############################
  # Prometheus Configuration #
  ############################
  prometheus:
    enabled: true


tractusx-connector:
  install:
    postgresql: false
    daps: false
    vault: false
  participant:
    id: <path:traceability-irs/data/int/controlplane#participantId>

  controlplane:
    # SSI configuration
    ssi:
      miw:
        url: <path:traceability-irs/data/int/controlplane#ssi.miw.url>
        authorityId: <path:traceability-irs/data/int/controlplane#ssi.miw.authorityId>
      oauth:
        tokenurl: <path:traceability-irs/data/int/controlplane#ssi.oauth.tokenurl>
        client:
          id: <path:traceability-irs/data/int/controlplane#ssi.oauth.client.id>
          secretAlias: miw-int-keycloak-secret
    ingresses:
      - enabled: true
        hostname: "irs-consumer-controlplane.int.demo.catena-x.net"
        annotations:
          nginx.ingress.kubernetes.io/ssl-passthrough: "false"
          nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
          nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
        endpoints:
          - protocol
          - management
        tls:
          enabled: true
          secretName: tls-secret

    endpoints:
      # -- data management api, used by internal users, can be added to an ingress and must not be internet facing
      management:
        port: 8081
        path: /management
        authKey: <path:traceability-irs/data/int/controlplane#apiKey>  # -- authentication key, must be attached to each 'X-Api-Key' request header
      # -- protocol api, used for inter connector communication and must be internet facing
      protocol:
        port: 8084
        path: /api/v1/dsp

    internationalDataSpaces:
      id: TXDC
      description: Tractus-X Eclipse IDS Data Space Connector
      title: "IRS INT Consumer EDC"
      maintainer: ""
      curator: ""
      catalogId: TXDC-Catalog

    resources:
      limits:
        cpu: 1.5
        memory: 3Gi
      requests:
        cpu: 250m
        memory: 3Gi

  dataplane:
    ## Ingress declaration to expose the network service.
    ingresses:
      ## Public / Internet facing Ingress
      - enabled: true
        # -- The hostname to be used to precisely map incoming traffic onto the underlying network service
        hostname: "irs-consumer-dataplane.int.demo.catena-x.net"
        # -- Additional ingress annotations to add
        annotations:
          nginx.ingress.kubernetes.io/ssl-passthrough: "false"
          nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
          nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
        # -- EDC endpoints exposed by this ingress resource
        endpoints:
          - public
        # -- Defines the [ingress class](https://kubernetes.io/docs/concepts/services-networking/ingress/#ingress-class)  to use
        className: "nginx"
        # -- Enables TLS on the ingress resource
        tls:
          enabled: true
          secretName: tls-secret

    endpoints:
      public:
        port: 8081
        path: /api/public

    resources:
      limits:
        cpu: 500m
        memory: 512Mi
      requests:
        cpu: 200m
        memory: 512Mi

  # URL where the EndpointDataReference callback will be sent to
  backendService:
    httpProxyTokenReceiverUrl: "http://app-irs-int-irs-helm:8181/internal/endpoint-data-reference"

  ################################
  # EDC Vault/DAPS Configuration #
  ################################
  vault:
    hashicorp:
      url: "https://vault.demo.catena-x.net"
      token: "<path:traceability-irs/data/int/controlplane#vaultToken>"
      timeout: 30
      healthCheck:
        enabled: true
        standbyOk: true
      paths:
        secret: /v1/traceability-irs
        health: /v1/sys/health
    secretNames:
      transferProxyTokenSignerPrivateKey: irs-int-daps-key
      transferProxyTokenSignerPublicKey: irs-int-daps-cert
      transferProxyTokenEncryptionAesKey: test-edc-encryption-key

  ##################################
  # EDC Postgres Configuration #
  ##################################
  postgresql:
    enabled: true
    auth:
      username: <path:traceability-irs/data/int/controlplane#databaseuser>
      password: <path:traceability-irs/data/int/controlplane#databasepassword>
    username: <path:traceability-irs/data/int/controlplane#databaseuser>
    password: <path:traceability-irs/data/int/controlplane#databasepassword>
    jdbcUrl: "jdbc:postgresql://app-irs-int-edc-postgresql-hl:5432/edc"

##############################
# EDC Postgres Configuration #
##############################
# EDC chart do not support multiple postgres instances in the same namespace at the moment.
# Enable this to use the postgres dependency for when you want to deploy multiple EDC instances in one namespace
postgresql:
  enabled: true
edc-postgresql:
  auth:
    database: edc
    username: <path:traceability-irs/data/int/controlplane#databaseuser>
    postgresPassword: <path:traceability-irs/data/int/controlplane#databasepassword>
    password: <path:traceability-irs/data/int/controlplane#databasepassword>
