name: IRS CI Integration test

on:
  workflow_dispatch:
    inputs:
      irsTestProfile:
        description: 'Profile value to activate on GitHub like local, dev, int or prod'
        required: true
        type: string
  push:
    branches:
      - main
      - 'feature/TRI-488'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0  # Shallow clones should be disabled for a better relevancy of sonar analysis

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'adopt'

      - name: Cache maven packages
        uses: actions/cache@v3
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Run ItemGraphSmokeTest with Maven
        env:
          PROFILE_GITHUB: ${{ github.event.inputs.irsTestProfile }}
        run: |
          mvn -Dtest=intergartion-tests/src/test/java/net/catenax/irs/smoketest/ItemGraphSmokeTest test \
          -D spring.profiles.active=$PROFILE_GITHUB \
          -D surefire.failIfNoSpecifiedTests=false
