name: IRS CI

on:
  workflow_dispatch:

  push:
    branches:
      - main
  pull_request:
    branches: [ main ]
    paths:
      - '.'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'

      - name: Cache maven packages
        uses: actions/cache@v2
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Build with Maven
        run: |
          mvn --batch-mode --update-snapshots -s settings.xml verify
        env:
          IRS_EDC_PKG_USERNAME: ${{ secrets.IRS_EDC_PKG_USERNAME }}
          IRS_EDC_PKG_PASSWORD: ${{ secrets.IRS_EDC_PKG_PASSWORD }}

  build_images:
    strategy:
      matrix:
        image:
          - irs-api
          - broker-proxy
          - irs-connector-provider
          - irs-connector-consumer
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Build image to make sure Dockerfile is valid
        run: |
          # RUN --mount=type=cache is used in the IRS Dockerfile to cache directories for maven.
          # And the --mount option requires BuildKit.
          DOCKER_BUILDKIT=1 docker build --build-arg IRS_EDC_PKG_USERNAME=${{ secrets.IRS_EDC_PKG_USERNAME }} --build-arg IRS_EDC_PKG_PASSWORD=${{ secrets.IRS_EDC_PKG_PASSWORD }} --build-arg BUILD_TARGET=${{ matrix.image }} --target ${{ matrix.image }} -t ${{ matrix.image }}:latest .
      - name: Log in to registry
        # This is where you will update the PAT to GITHUB_TOKEN
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Push image
        run: |
          IMAGE_ID=ghcr.io/${{ github.repository_owner }}/${{ matrix.image }}
          # Change all uppercase to lowercase
          IMAGE_ID=$(echo $IMAGE_ID | tr '[A-Z]' '[a-z]')
          # Strip git ref prefix from version
          VERSION=$(echo "${{ github.ref }}" | sed -e 's,.*/\(.*\),\1,')
          # Strip "v" prefix from tag name
          [[ "${{ github.ref }}" == "refs/tags/"* ]] && VERSION=$(echo $VERSION | sed -e 's/^v//')
          # Use Docker `latest` tag convention
          [ "$VERSION" == "master" ] && VERSION=latest
          echo IMAGE_ID=$IMAGE_ID
          echo VERSION=$VERSION
          docker tag ${{ matrix.image }} $IMAGE_ID:$VERSION
          docker push $IMAGE_ID:$VERSION