name: Release IRS

on:
  workflow_call:
    inputs:
      new-irs-version:
        description: 'New IRS version'
        required: true
        type: string
      previous-irs-version:
        description: 'Previous IRS version'
        required: true
        type: string
      helm-chart-version:
        description: 'New Helm Chart version'
        required: true
        type: string

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Update Chart.yaml appVersion
        uses: mikefarah/yq@v4.44.1
        with:
          cmd: yq -i eval '.appVersion = "${{ inputs.new-irs-version }}"' charts/item-relationship-service/Chart.yaml

      - name: Update Chart.yaml version
        uses: mikefarah/yq@v4.44.1
        with:
          cmd: yq -i eval '.version = "${{ inputs.helm-chart-version }}"' charts/item-relationship-service/Chart.yaml

      - name: Prepare Helm release
        uses: peter-evans/create-pull-request@v5
        with:
          commit-message: "chore(release): Prepare release for Helm version ${{ inputs.helm-chart-version }}"
          branch: chore/prepare-helm-release-${{ inputs.helm-chart-version }}
          base: main
          delete-branch: true
          title: Prepare Helm release for next version
          body: |
            This PR prepares the Helm chart release for version ${{ inputs.helm-chart-version }}. 
            Please check whether the Chart was updated correctly and that the CHANGELOG contains the relevant information
            for this release. Also, make sure that the values.yaml is correct before merging this PR.

      - name: Extract changelog text
        # See: https://docs.github.com/en/actions/using-workflows/workflow-commands-for-github-actions#multiline-strings
        run: |
          EOF=$(dd if=/dev/urandom bs=15 count=1 status=none | base64)
          echo "CHANGELOG<<$EOF" >> $GITHUB_ENV
          sed -n -e '/## \[${{ inputs.new-irs-version }}\]/,/## \[/ p' CHANGELOG.md | head -n -1 | tail -n +2 >> $GITHUB_ENV
          echo **Full Changelog**: ${{ github.server_url }}/${{ github.repository }}/compare/${{ inputs.previous-irs-version }}...${{ inputs.new-irs-version }} >> $GITHUB_ENV
          echo "$EOF" >> "$GITHUB_ENV"

      - name: Create IRS release
        uses: softprops/action-gh-release@v2
        with:
          body: ${{ env.CHANGELOG }}
          tag_name: ${{ inputs.new-irs-version }}

  publish-to-swaggerhub:
    name: "Publish OpenAPI spec to Swaggerhub"
    permissions:
      contents: read
    needs:
      - release
    uses: ./.github/workflows/publish-swagger-hub.yml
    with:
      version: ${{ inputs.new-irs-version }}
    secrets: inherit