name: Release IRS

on:
  workflow_dispatch:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Calculate Helm release version from CHANGELOG
        run: echo HELM_VERSION=$(cat charts/irs-helm/CHANGELOG.md | sed -n 's/.*\[\([0-9]\+\.[0-9]\+\.[0-9]\+\)\].*/\1/p' | head -n 1) >> $GITHUB_ENV

      - name: Update Chart.yaml
        run: |
          sed -n -i 's/.*appVersion:.*/appVersion: ${{ github.ref_name }}/p' charts/irs-helm/Chart.yaml 
          sed -n -i 's/.*version:.*/version: ${{ env.HELM_VERSION }}/p' charts/irs-helm/Chart.yaml 

      - name: Prepare Helm release
        uses: peter-evans/create-pull-request@v5
        with:
          commit-message: "chore(release): Prepare release for Helm version ${{ env.HELM_VERSION }}"
          branch: chore/prepare-helm-release-${{ env.HELM_VERSION }}
          base: main
          delete-branch: true
          body: |
            This PR prepares the Helm chart release for version ${{ env.HELM_VERSION }}. 
            Please check whether the Chart was updated correctly and that the CHANGELOG contains the relevant information
            for this release. Also, make sure that the values.yaml is correct before merging this PR.

      - name: Extract changelog text
        run: echo CHANGELOG=$(sed -n -e '/## \[${{ github.ref_name }}\]/,/## \[/ p' CHANGELOG.md | head -n -1) >> $GITHUB_ENV

      - name: Create IRS release
        uses: softprops/action-gh-release@v1
        with:
          body: ${{ env.CHANGELOG }}

      - name: Trigger Jira release
        uses: ./.github/workflows/jira-publish-release.yaml
        with:
          version: ${{ github.ref_name }}