name: "Trivy vulnerability scanner for Docker Hub Image"

on:
  workflow_dispatch: # Trigger manually
  workflow_call: # Trigger by another workflow
    inputs:
      ref-to-check-out:
        description: 'Ref of branch/tag from which to execute workflow'
        required: true
        type: string
  schedule:
    - cron: "0 0 * * *"

jobs:
  image-scan:
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.ref-to-check-out || github.ref }}

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: 'tractusx/irs-api:latest'
          format: 'sarif'
          output: 'trivy-results.sarif'

      - run: cat trivy-results.sarif

      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: 'trivy-results.sarif'